[% INCLUDE 'kohaheader.tt' %]

[% INCLUDE 'document.tt' %]
[% INCLUDE 'cites.tt' %]
[% INCLUDE 'citedby.tt' %]

<hr/>

<p>Here is the raw data, as a help during development.</p>

[% INCLUDE 'rawdata.tt' %]

[% INCLUDE 'kohafooter.tt' %]
