[% IF influenced.0 %]
<h2>Influenced</h2>
<ul>
  [% FOREACH i IN influenced %]
    [% IF i.name.value %]
      <li><a href="?uri=[% i.influenced.value | uri %]">[% i.name.value | html %]</a></li>
    [% ELSE %]
      <li><a href="?uri=[% i.influenced.value | uri %]">[% i.influenced.value %]</a></li>
    [% END %]
  [% END %]
</ul>
[% END %]
