[%#

Find languages that have not been LOADed yet. 

%]

SELECT DISTINCT ?uri WHERE {
  ?s <http://purl.org/dc/terms/language> ?uri . 
  OPTIONAL { ?uri rdfs:label ?label . }
  FILTER (!bound(?label))
}
